@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
     background-color: #f0f0f0;
}

::-webkit-scrollbar {
     width: 0.375rem;
   }
   
   ::-webkit-scrollbar-track {
     --tw-bg-opacity: 1;
     background-color: rgb(232 232 233 / var(--tw-bg-opacity));
     width: 0.75rem;
   }
   
   ::-webkit-scrollbar-thumb {
     --tw-bg-opacity: 1;
     background-color: rgb(169 169 173 / var(--tw-bg-opacity));
     border-radius: 0.375rem;
     border-width: 0;
     margin-right: 0.25rem;
   }